body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background-color: rgb(228, 164, 164);
    background-image: url(fondo.jpg);
    background-size: cover;
}
h1{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 4px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgb(0, 0, 0, .3);
}
.container{
    text-align: center;
}
.btn{
    padding: 30px 50px;
    background-color: aquamarine;
    border: none;
    margin: 10px;
    font-size: 30px;
    min-width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, .3);
    background-image: url("images/snare.jpg");
    background-size: cover;
    color: rgb(235, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 4px rgba(255, 11, 11, 0.3);
    cursor: pointer;
}
.btn:hover{
    color: rgb(43, 0, 0);
}
.btn:active{
    background-size: 105%;
}
